
### chapter ###
# 思路记载
notes/literature.md

# a project imitation
notes/horzonal.md

# nothing happened
notes/tblastnAndExtract.q

# ref-squences
notes/RMRBSeqs.embl

# ref-squences
notes/virus_segement1_NC_02925613.1.fa

# connect mysql
BIOPYTHON/config.ini
BIOPYTHON/dbconfig.py
BIOPYTHON/__pycache__

# data personal or for our biocamp
data/Rice_chrome_virus.csv
data/Rice_chrome_viruspart01.csv
data/Rice_chrome_gall_virus.csv
notes/steps.md
notes/tutor.md
notes/tutor01.md
notes/tutor02.md
notes/tutor03.md



